:root {
  --color--bg: hsl(287, 72%, 59%);
  --color--bd1: hsl(347, 86%, 92%);
  --color--bd2: hsl(156, 64%, 87%);
  --color--bd3: hsl(29, 68%, 84%);
  --color--h2-contact-1: hsl(347, 99%, 70%);
  --color--h2-contact-2: hsl(156, 61%, 58%);
  --color--h2-contact-3: hsl(29, 99%, 62%);

  //bg
}
