@use '../utils' as *;

.av3 {
  &__grid {
    display: flex;
    gap: rem(30);
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: calc((100% - (30 * 0.0625rem)) / 2);
    font-weight: var(--font-rale);
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    min-height: rem(177);
    .wrapper-av3 {
      display: flex;
      flex-wrap: wrap;
      max-width: rem(225);
    }

    &:nth-child(2) {
      span {
        order: 2;
      }
      p {
        order: 1;
      }
    }
    span {
      order: 1;
      font-size: rem(27);
      font-weight: 700;
      line-height: 1.333;
    }
    p {
      order: 2;
      font-weight: 500;
      font-size: rem(16);
      line-height: 1.833;
    }
  }
}
