@use '../utils' as *;

.content {
  .top-rated__rated {
    .checked {
      color: #f8d73f;
      // -webkit-text-stroke: initial;
      // background-color: #f8d73f;
    }
  }

  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: rem(30);
  }

  //top-rated
  .top-rated {
    padding: 0 rem(19);
    border: 1px solid #e1e1e1;
    margin-bottom: rem(30);

    &__grid {
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
    }
    &__item {
      display: flex;
      padding: rem(20) 0;
      font-family: var(--font-lato);
      font-weight: 400;
      font-size: rem(13);
      &:not(:last-child) {
        border-bottom: 1px solid #e1e1e1;
      }
    }

    &__img {
      object-fit: contain;
      object-position: center;
      padding-right: rem(20);
    }
    &__item-content {
      flex: 1;
      padding: 0;

      span {
        text-align: left;
        border: none;
        padding: 0;
      }
    }
  }
  //ads
  .ads {
    margin-bottom: rem(30);
    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: rem(426);
      align-items: flex-end;
      justify-content: center;
      text-align: center;
    }

    &__wrap {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &__item {
      color: #ffffff;
      fieldset {
        margin: rem(20);
        border: rem(5) solid;
        transform: rotate(180deg);
        font-family: var(--font-rale);
        font-weight: 800;
        legend {
          padding: 0 rem(10);
          transform: rotate(180deg);
          font-size: rem(30);
        }
        h1 {
          display: inline-block;
          font-size: rem(40);
          transform: rotate(180deg);
          padding: 0;
        }
      }
    }
  }

  .testimonials {
    border: 1px solid #e1e1e1;
    padding: 0 rem(20);
    text-align: center;
    color: rgb(63, 63, 63);
    font-size: rem(14);
    padding-bottom: rem(30);
    margin-bottom: rem(30);
    .btn {
      i {
        border: 1px solid #e1e1e1;
        padding: rem(7) rem(9);
        &:not(:last-child) {
          margin-right: rem(10);
        }
      }
    }
    &__layout {
      span {
        font-weight: 700;
        text-transform: uppercase;
      }
      p:first-child {
        padding: rem(20) 0;
        font-style: italic;
        line-height: 1.786;
      }
      p:last-of-type {
        font-weight: 400;
        line-height: 1.429;
        opacity: 0.7;
        padding-bottom: rem(20);
      }
    }
    &__img {
      margin-bottom: rem(10);
      img {
        object-fit: contain;
        object-position: center;
      }
    }
  }

  //brands
  .brands {
    border: 1px solid #e1e1e1;
    padding: 0 rem(20);
    padding-bottom: rem(30);
    text-align: center;
    .btn {
      i {
        border: 1px solid #e1e1e1;
        padding: rem(7) rem(9);
        &:not(:last-child) {
          margin-right: rem(10);
        }
      }
    }

    &__grid {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(10);
      padding-bottom: rem(20);
    }
    &__item {
      width: calc((100% - (10 * 00.0625rem)) / 2);
    }
  }

  //product
  .featured_products {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(63, 63, 63);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.056;
    text-align: right;
    position: absolute;
    left: 1015.844px;
    top: 1036.496px;
    z-index: 395;
  }
  .products {
    border: 1px solid #e1e1e1;
    padding: 0 rem(25);
    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: rem(16);
      padding-bottom: rem(21);
      margin: 0 rem(10);
      border-bottom: 1px solid #e1e1e1;
      .is-selected {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -100%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: rem(5) solid transparent;
          border-right: rem(5) solid transparent;
          border-bottom: rem(5) solid rgb(122, 37, 37);
        }
      }
      span {
        font-family: var(--font-rale);
        font-size: rem(18);
        font-weight: 700;
        opacity: 0.7;
        line-height: 1.056;
        color: rgb(63, 63, 63);
        transition: 0.4s;
        text-transform: uppercase;
        padding: 0 rem(40);
        cursor: pointer;
        &:not(:last-of-type) {
          border-right: 1px solid #e1e1e1;
        }
      }
      p {
        position: relative;
        padding: rem(8) rem(14);
        cursor: pointer;
        &::before {
          content: "";
          position: absolute;
          top: rem(-1);
          left: rem(-1);
          height: 100%;
          width: 100%;
          border: rem(2) solid #e1e1e1;
          box-sizing: content-box;
          z-index: -1;
        }
      }
    }

    &__features {
      padding: rem(20) 0;
    }

    &__grid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(30);
      text-align: center;
      width: 100%;
    }

    &__item {
      position: relative;
      width: calc((100% - (30 * 3 * 0.0625rem)) / 4);

      span {
        &:first-child {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          padding: rem(6) rem(8);
          color: #ffffff;
          &.old {
            background-color: #f23434;
          }

          &.new {
            background-color: #000000;
          }
        }
      }

      img {
        object-fit: contain;
        object-position: center;
        padding-bottom: rem(20);
      }
    }
  }
  //special
  .special {
    padding: 0 rem(20);
    padding-bottom: rem(30);
    text-align: center;
    border: 1px solid #e1e1e1;
    margin-bottom: rem(30);

    .wrapper_content {
      display: flex;
      gap: rem(30);
      padding-top: rem(20);
    }

    &__main {
      position: relative;
      img {
        padding-bottom: rem(20);
        object-fit: cover;
        object-position: center;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(30);
    }
    &__item {
      display: flex;
      align-items: flex-start;
      width: calc((100% - (30 * 0.0625rem)) / 2);
    }
    &__img {
      position: relative;
      margin-right: rem(20);
      img {
        object-fit: cover;
        object-position: center;
      }
    }
    &__content {
      flex: 1;
      text-align: left;
      span {
        text-align: left;
      }
    }
  }

  .newsletter {
    text-align: center;
    color: rgb(63, 63, 63);
    padding: rem(52) 0;
    span {
      display: block;
      font-size: rem(30);
      font-family: var(--font-rale);
      font-weight: 700;
      line-height: 0.733;
      padding-bottom: rem(30);
    }
    p {
      font-size: rem(14);
      line-height: 1.571;
      padding-bottom: rem(32);
    }
    &__group {
      max-width: rem(600);
      margin: 0 auto;
      display: flex;
      input {
        flex: 1;
        border: none;
        padding: rem(15) rem(20);
        margin-right: rem(10);
        &::placeholder {
          color: rgb(193, 193, 194);
          font-size: rem(14);
          line-height: 1.786;
          font-style: italic;
        }
        &:focus {
          outline: none;
        }
      }
      .btn {
        color: rgb(255, 255, 255);
        line-height: 1.833;
        font-size: 12px;
        font-weight: 700;
        background-color: rgb(63, 63, 63);
        text-transform: uppercase;
        padding: rem(16) rem(24);
      }
    }
  }
}
