@use '../utils' as *;

.project {
  position: relative;
  background-image: linear-gradient(
    130deg,
    rgb(223, 233, 243) 0%,
    rgb(255, 255, 255) 100%
  );
  z-index: -1;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(
      90deg,
      hsl(220, 36%, 95%) 0%,
      hsl(216, 45%, 98%) 100%
    );
    clip-path: polygon(100% 0, 0% 100%, 0 0);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 35%;
    right: 0;
    width: 60%;
    background-image: linear-gradient(
      90deg,
      rgb(238, 241, 247) 0%,
      rgb(247, 249, 252) 100%
    );
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  }

  &__grid {
    margin: 0 rem(20);
    @include breakpoint(large) {
      margin: 0;
    }
  }
  &__item {
    @include breakpoint(medium) {
      display: flex;
      gap: 20px;
    }
    @include breakpoint(large) {
      display: flex;
      justify-content: space-evenly;
      // gap: rem(130);
    }

    &:not(:last-child) {
      padding-bottom: rem(192);
    }

    &:nth-child(1) img {
      clip-path: url(#clipPath1);
    }
    &:nth-child(2) img {
      clip-path: url(#clipPath2);
    }
    &:nth-child(3) img {
      clip-path: url(#clipPath3);
    }
    &:nth-child(2) .project__info {
      order: -1;
    }
    &:nth-child(2) img {
      transform: rotateY(180deg);
    }
  }

  &__image {
    position: relative;
    transform: translateY(rem(-30));
    img {
      width: rem(446);
      height: rem(446);
      object-fit: cover;
      object-position: bottom;

      &:hover + svg {
        opacity: 1;
      }
    }

    svg {
      position: absolute;
      z-index: -1;
      height: rem(420);
      width: rem(420);
      border-width: rem(7);
      border-style: solid;
      border-radius: rem(17);
      left: rem(-18);
      top: rem(-50);
      opacity: 0;
      transition: 0.3s;
    }

    @include breakpoint(large) {
      position: relative;
      order: 1;
    }
  }
  &__info {
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }

    @include breakpoint(large) {
      flex: 0 0 40%;
      order: 2;
    }
    h3,
    h5 {
      line-height: 1.75;
      text-align: left;
      font-size: 24px;
    }
    p {
      padding-bottom: rem(52);
    }
  }
}
