:root {
  //colors
  --c--t1: hsl(354, 90%, 65%);
  --c--t2: hsl(0, 0%, 100%);
  --c--text: hsl(217, 12%, 67%);
  --c-quote: hsl(0, 0%, 93%);

  //fonts
  --f-mon: "Montserrat", sans-serif;
  --f-open: "Open Sans", sans-serif;
  --f-rale: "Raleway", sans-serif;
}
